body {
    font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #555CB2;
}

.navbar {
    color: #fff;
    border-radius: 0 !important;
    border: none;
    background-color: #555CB2 !important;
}

.navbar a {
    color: #fff !important;
    font-weight: bold !important;
}

.navbar-brand {
    color: #fff;
    font-family: Lobster, Georgia, serif;
    font-size: 1.7em !important;
    text-shadow: 1px 2px #333;
}

.container-fluid {
    max-width: 980px;
    text-align: center;
    margin: 0 auto;
}

.sheet a {
    position: relative;
    display: block;
    float: left;
    width: 200px;
    height: 200px;
    background: #333;
    padding: 5px;
    margin: 30px;
    color: #fff;
    font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}

.danger {
    color: #ac2925;
    font-weight: bold;
}